{%extends 'layout.html'%}
{%block title %}
Saludo -
{%endblock%}

{%block contenedor%}
<h1 class="title">Bienvenidos</h1><br><br>
<form action="" method="get">
    <br><label for="Nombre">Nombre: </label>
    <input type="text"><br>
    <label for="Correo">Correo: </label>
    <input type="text"><br>
    <p>Sexo: </p>
    <input type="radio" id="masculino" name="genero" value="masculino">
    <label for="masculino">Masculino</label><br>
    <input type="radio" id="femenino" name="genero" value="femenino">
    <label for="femenino">Femenino</label><br>
    <input type="radio" id="otro" name="genero" value="otro">
    <label for="otro">Otro</label><br>
    <label for="Consulta">Consulta: </label>
    <input type="text"><br>
    <input type="submit" value="Enviar">

</form>>
{% endblock %}