<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1, minimun-scale=1">
    <link rel="stylesheet" href="../static/css/fontello.css">
    <link rel="stylesheet" href="../static/css/style-inicio.css">
    <link rel="stylesheet" href="../static/css/adopcion.css">
    
    <title>
        {% block title %}
        {% endblock %}
        | proyecto lp3
    </title>
</head>
<body>
    <header>
        <div class="contenedor">
            <h1 class="icon-dog">lp3 </h1>
            <input type="checkbox" id="menu-bar">
            <label class="icon-menu" for="menu-bar"></label>
                <nav class="menu">
                    <a href="/cursos">Cursos</a>
                    <a href="/carreras">Carreras</a>
                    <a href="/estudiantes">Estudiantes</a>
                    <a href="/consultas">Consultas</a>
                </nav>
        </div>
    </header>
    <section id="banner">
            <img src="../static/img/baner.jpg" alt="imagen de banner">
            <div class="contenedor">
                <h2>Estudiantes aprobados</h2>
                <p>¿Cual es el mejor curso para ti :3?</p>
                <a href="#">Leer más</a>
            </div>
        </section>

    {% block contenedor %}
    
    {% endblock %}
    <footer>
        <div class="contenedor">
            <p class="copy">My final &copy; 2020</p>
            <div class="sociales">
                <a class="icon-facebook-official" href=""></a>
                <a class="icon-gplus" href="#"></a>
                <a class="icon-youtube-play" href="#"></a>
            </div>
        </div>
    </footer>
</body>
</html>